<div id="condition">

  <form action="/onClickCondition" method="post">
    <div id="condition_0" class="d-flex">
      <div id="item_0" class="col-2">
        <p> Password Length </p>
      </div>
      <div>
        <input type="text" name="passwordLength" class="form-control" id="password-length" placeholder="input here"/>
        <p class="text-secondary"> Length is available between 4~15 </p>
      </div>
    </div>

  <div id="condition_1" class="d-flex">
    <div id="item_1" class="col-2">
      <p> Include Lowercase Characters </p>
    </div>
    <div id="switch_1" class="col-3 form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="grLowercase">
      <label class="form-check-label" for="flexSwitchCheckDefault">(e.g.abcdefg)</label>
    </div>
  </div>

  <div id="condition_2" class="d-flex">
      <div id="item_2" class="col-2">
        <p> Include Uppercase Characters </p>
      </div>
      <div id="switch_2" class="col-3 form-check form-switch">
        <input class="form-check-input" name="grUppercase" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">(e.g.ABCDEFG)</label>
      </div>
  </div>

    <div id="condition_3" class="d-flex">
      <div id="item_3" class="col-2">
        <p> Include Numbers </p>
      </div>
      <div id="switch_3" class="col-3 form-check form-switch">
        <input class="form-check-input" name="numbers" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">(e.g.123456)</label>
      </div>
    </div>

    <div id="condition_4" class="d-flex">
      <div id="item_4" class="col-2">
        <p> Include Symbols </p>
      </div>
      <div id="switch_4" class="col-3 form-check form-switch">
        <input class="form-check-input" name="symbols" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">(e.g.@#$%)</label>
      </div>
    </div>

      <div id="condition_5" class="d-flex">
        <div id="item_5" class="col-2">
          <p> Exclude Characters </p>
        </div>
        <div>
          <input type="text" name="grExclude" class="form-control" id="url-input" placeholder="input here" />
          <p class="text-secondary"> These characters will not appear in the password </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Generate Password</button>
  </form>
</div>

<div id="results">
  <h3>Your password is : {{passwordResult}}</h3> 
</div>