<div id="container">

  <h5 class="mb-3">Random Passwords Generator</h5>
  <hr/>

  <form action="/onClickCondition" method="post" class=" {{wasValidated}} " novalidate>
    <div id="condition_0" class="d-flex mb-3">
      <div id="item_0" class="col-2">
        <p> Password Length </p>
      </div>
      <div>
        <input type="text" name="onClickPasswordLength" class="form-control" id="password-length" placeholder="input here" value="{{passwordLength}}" required>
        <div class="invalid-feedback">This field is required.</div>
        <div class="valid-feedback">Good!</div>
        <p class="text-secondary"> Length is available between 4~15 </p>
      </div>
    </div>

  <div id="condition_1" class="d-flex mb-3">
    <div id="item_1" class="col-2">
      <p> Include Lowercase Characters </p>
    </div>
    <div id="switch_1" class="col-3 form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="checkbox_1" name="onClickLowercase" {{#if options.onClickLowercase}} checked {{/if}} >
      <label class="form-check-label" for="checkbox_1">(e.g.abcdefg)</label>
    </div>
  </div>

  <div id="condition_2" class="d-flex mb-3">
      <div id="item_2" class="col-2">
        <p> Include Uppercase Characters </p>
      </div>
      <div id="switch_2" class="col-3 form-check form-switch">
        <input class="form-check-input" name="onClickUppercase" type="checkbox" role="switch" id="checkbox_2" {{#if options.onClickUppercase}} checked {{/if}}>
        <label class="form-check-label" for="checkbox_2">(e.g.ABCDEFG)</label>
      </div>
  </div>

    <div id="condition_3" class="d-flex mb-3">
      <div id="item_3" class="col-2">
        <p> Include Numbers </p>
      </div>
      <div id="switch_3" class="col-3 form-check form-switch">
        <input class="form-check-input" name="onClickNumbers" type="checkbox" role="switch" id="checkbox_3" {{#if options.onClickNumbers}} checked {{/if}} >
        <label class="form-check-label" for="checkbox_3">(e.g.123456)</label>
      </div>
    </div>

    <div id="condition_4" class="d-flex mb-3">
      <div id="item_4" class="col-2">
        <p> Include Symbols </p>
      </div>
      <div id="switch_4" class="col-3 form-check form-switch">
        <input class="form-check-input" name="onClickSymbols" type="checkbox" role="switch" id="checkbox_4" {{#if options.onClickSymbols}} checked  {{/if}}>
        <label class="form-check-label" for="checkbox_4">(e.g.@#$%)</label>
      </div>
    </div>

      <div id="condition_5" class="d-flex mb-3">
        <div id="item_5" class="col-2">
          <p> Exclude Characters </p>
        </div>
        <div>
          <input type="text" name="onClickExclude" class="form-control" id="url-input" placeholder="input here" value="{{grExclude}}">
          <p class="text-secondary"> These characters will not appear in the password </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Generate Password</button>
      
      <div id="results" class="d-flex mb-3">
        <h5>Your password is : {{passwordResult}}</h5>
      </div>
  </form>

  <form action="/copyButton" method="get"> 
    <button type="submit" class="btn btn-primary mb-3">Copy</button>
  </form>
</div>